<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RedirectTrainingToCertifications" stopProcessing="true">
          <match url="^training/(.*)\.html$" />
          <action type="Redirect" url="/certifications/{R:1}.html" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
